{% comment %}
------------------------------------------------------------------------------
  Section: Featured collection
  - This the main section that you should be working on
  - Main styling is done in /styles/sections/featured-collection.scss
------------------------------------------------------------------------------
{% endcomment %}

<section class="mf-featured-collection" data-section-id="{{ section.id }}" data-section-type="featured-collection">
  {%- assign collection = collections[section.settings.collection] -%}
  
  <div class="mf-featured-collection__intro container-fluid u-padding-top u-padding-bottom-large u-padding-top-large@lg u-padding-bottom-large@lg">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 u-text-center">
        <h2 class="u-margin-bottom-small">{{ collection.title | escape }}</h2>
        <p>{{ collection.description }}</p>
      </div>
    </div>
    
  </div>
  
  <div class="mf-featured-collection__slider u-margin-bottom-large u-margin-bottom-huge@lg" 
    data-flickity='
      { 
        "cellAlign": "left", 
        "contain": true,
        "groupCells": true
      }'>
    {% for product in collection.products limit: 6 %}
      {% assign current_variant = product.selected_or_first_available_variant %}
      <div class="mf-featured-collection__slider-item">
        <a href="{{ product.url | within: collection }}">
          <div>
            {% if product.featured_image != blank %}
              {{ product.featured_image | img_url: 'large' | img_tag }}
            {% endif %}
            
            <span js-ajax-cart="addToCart" data-variant-id="{{ current_variant.id }}" data-quantity="1">Add to cart</span>
          </div>

          <div>
            <p>{{ product.title | escape }}</p>

            <span>
              {% include 'product-price' %}
            </span>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
  
</section>

{% schema %}
  {
    "name": "Featured collection",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Featured collection"
      },
      {
        "id": "collection",
        "type": "collection",
        "label": "Collection"
      }
    ],
    "presets": [
      {
        "name": "Featured collection",
        "category": "Collection"
      }
    ]
  }
{% endschema %}
